<h1><%= @writer.name %></h1>

<% @writer.comics.each do |comic| %>
  <%= comic.name %> <%= comic.issue %>
  <br>
<% end %>
<br>

<a href="/writers/<%= @writer.id %>/edit"><button>Edit</button></a>
<a href="/writers/<%= @writer.id %>"
  data-confirm="You sure?"
  data-method="delete"
  rel="nofollow"><button>Delete</button></a>
<a href="/"><button>Home</button></a>
